/* GOOGLE AND IMPORTED DA-FONT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'Akira Expanded';
  src: url(./fonts/akira_expanded.ttf) format('truetype');
}

@font-face {
  font-family: 'Kooltura';
  src: url(./fonts/kooltura.ttf) format('truetype');
}

/* VARIABLES CSS */
:root {
  /* Color */
  --light-color: #f1eeef;
  --medium-color: #515151;
  --dark-color: #1c1c1c;
  --highlight-color: #fface5;
  --highlight-color-soft: #ffe6f7;
  --complementary-color: #a3b7ed;

  /* Font family */
  --body-font: 'Work Sans', sans-serif;
  --title-font: 'Work Sans', sans-serif;
  --subtitle-font: 'Akira Expanded';
  --highlight-font: 'Akira Expanded';
  --logo-font: 'Kooltura';

  /* Font size */
  --h1-font-size: 2.2rem;
  --h2-font-size: 3rem;
  --h3-font-size: 1.5rem;
  --nav-font-size: 1.6rem;
  --btn-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: 1.1rem;
  --tiny-font-size: 0.6rem;
  --admin-font-size: 0.8rem;

  /* Font weight */
  --font-regular: 400;
  --font-bold: 700;
}

/* >>>Responsive<<< */
@media (min-width: 640px) {
  :root {
    --h1-font-size: 2.6rem;
    --h2-font-size: 3rem;
    --h3-font-size: 2rem;
    --nav-font-size: 1rem;
    --btn-font-size: 1.6rem;
    --normal-font-size: 1.3rem;
    --small-font-size: 1.1rem;
    --tiny-font-size: 0.625rem;
    --admin-font-size: 1.1rem;
  }
}

@media (min-width: 920px) {
  :root {
    --h1-font-size: 3rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.8rem;
    --nav-font-size: 1.3rem;
    --btn-font-size: 1.3rem;
    --normal-font-size: 1rem;
    --small-font-size: 1.1rem;
    --tiny-font-size: 0.688rem;
    --admin-font-size: 1rem;
  }
}

/* BASE */

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--light-color);
  color: var(--dark-color);
}

h1 {
  font-family: var(--title-font);
  font-weight: var(--font-regular);
  color: var(--dark-color);
  font-size: var(--h1-font-size);
}

h2 {
  font-family: var(--subtitle-font);
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  padding-top: 3rem;
}

h3 {
  font-family: var(--highlight-font);
  font-weight: var(--font-regular);
  font-size: var(--h3-font-size);
  color: var(--medium-color);
  margin: 1rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: var(--highlight-font);
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
}

section {
  width: 100%;
  padding-bottom: 2rem;
}

button:hover {
  cursor: pointer;
}

/* REUSABLE CSS CLASSES */
.container {
  margin-inline: 1.5rem;
  margin: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.flex {
  display: flex;
}

.section {
  padding-block: 2.5rem;
}

.section__border {
  border-bottom: 1px solid #ccc;
  padding-bottom: 3.5rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-regular);
  margin-bottom: 0.25rem;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--medium-color);
  margin-bottom: 3rem;
}

.main {
  overflow: hidden;
}

.highlight {
  font-family: var(--highlight-font);
  background: var(--highlight-color);
}

.bold {
  font-weight: var(--font-bold);
}

/* Gradients */

#home {
  background: rgb(255, 230, 247);
  background: linear-gradient(
    225deg,
    rgba(255, 230, 247, 1) 0%,
    rgba(241, 238, 239, 1) 31%
  );
}

#about {
  background: rgb(255, 230, 247);
  background: radial-gradient(
    circle,
    rgba(255, 230, 247, 1) 0%,
    rgba(241, 238, 239, 1) 64%
  );
}

#projects {
  background: rgb(255, 230, 247);
  background: linear-gradient(
    0deg,
    rgba(255, 230, 247, 1) 0%,
    rgba(241, 238, 239, 1) 64%
  );
}

#contact {
  background: rgb(255, 230, 247);
  background: linear-gradient(
    180deg,
    rgba(255, 230, 247, 1) 0%,
    rgba(241, 238, 239, 1) 64%
  );
}

.admin__heading {
  background: rgb(163, 183, 237);
  background: linear-gradient(
    270deg,
    rgba(163, 183, 237, 1) 0%,
    rgba(241, 238, 239, 1) 60%
  );
}

/*----------------------HEADER----------------------*/

.header {
  background: var(--dark-color);
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
}

.nav {
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.nav__logo {
  font-family: var(--logo-font);
  text-transform: lowercase;
  font-size: 2.5rem;
}

.nav__link {
  font-size: var(--tiny-font-size);
  letter-spacing: 0.1rem;
}

.nav__link,
.nav__logo {
  color: var(--highlight-color);
}

.nav__link:hover,
.nav__logo:hover {
  color: var(--light-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  margin: 0.3rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fface5;
}

/*----------------------HOME----------------------*/

.home__container {
  row-gap: 1rem;
  margin: auto;
}

.home__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__title {
  text-align: left;
  padding: 1.5rem;
  margin: 0.5rem auto 0 auto;
  line-height: 2.8rem;
}

.home__title .highlight {
  font-size: 3rem;
}

.home__img {
  width: 15rem;
  border-radius: 50%;
  margin: 2rem auto;
  border-style: none;
}

.home__social {
  justify-self: center;
  display: flex;
  column-gap: 1.5rem;
}

.home__social-link {
  font-size: 1.5rem;
  color: var(--dark-color);
  transition: color 0.3s;
}

.home__social-link:hover {
  color: var(--highlight-color);
}

.home__info {
  display: grid;
  row-gap: 2rem;
  padding: 2rem;
  text-align: left;
  margin: auto;
}

.home__info-title {
  font-size: var(--h3-font-size);
}

.home__info-description {
  font-family: var(--body-font);
  color: var(--dark-color);
  font-size: var(--normal-font-size);
}

ul .home__info-description {
  text-align: left;
}

/*----------------------ABOUT----------------------*/
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 1.5rem;
}

.about__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 3rem;
  gap: 1rem;
}

.about__info {
  width: 15rem;
  text-align: justify;
}

.about__btn-cv,
.about__btn-certificate {
  border: none;
  font-family: var(--highlight-font);
  background: var(--highlight-color);
  color: var(--dark-color);
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  width: 20rem;
  margin: auto;
  font-size: var(--btn-font-size);
}

.about__btn-cv {
  background: var(--dark-color);
}

.about__btn-cv a {
  color: var(--highlight-color);
}

.about__btn-certificate {
  background: var(--highlight-color);
}

.about__btn-certificate a {
  color: var(--dark-color);
}

.about__experience {
  padding: 3rem 1rem 3rem 1rem;
}

#experience__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.about__experience h3 {
  text-align: center;
}

#experience__container li {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

/*----------------------SKILLS----------------------*/

.skills__container {
  margin: auto;
}

.skills__content {
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
}

.skills__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: var(--h3-font-size);
  color: var(--highlight-color);
  background: var(--dark-color);
  width: 90%;
  margin: auto;
  padding: 2rem;
  letter-spacing: 0.2rem;
}

.skills__info,
.skills__data,
.skills__blob {
  display: grid;
}

.skills__info {
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem 0 2rem 0;
}

.skills__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.skills__blob {
  border-radius: 3rem;
  place-items: center;
  margin-bottom: 1rem;
}

.skills__devicon {
  font-size: 11rem;
}

.skills__icon {
  font-size: 9rem;
}

.skills__name {
  font-size: var(--normal-font-size);
  margin-bottom: 0.25rem;
}

/* Icons animation */

.skills__blob:hover i {
  animation: bounce-skills 0.6s;
  color: var(--highlight-color);
  transition: 0.3s ease-in-out;
}

@keyframes bounce-skills {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translate(0);
  }
  60% {
    transform: translate(-3px);
  }
  80% {
    transform: translate(0);
  }
}

/*----------------------PROJECTS----------------------*/

.projects__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.projects__content {
  width: 90vw;
  transition: 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
  margin-bottom: 1.5rem;
}

.projects__img {
  width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
}

.projects__img:hover {
  transition: ease-in-out 0.5s;
  box-shadow: 0 0 3rem 0.5rem var(--highlight-color);
}

.projects__subtitle {
  font-size: var(--small-font-size);
  color: var(--medium-color);
  text-align: justify;
}

.projects__title {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
  margin: 0.5rem 0 1.25rem;
}

.projects__button {
  display: inline;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--dark-color);
  font-size: var(--small-font-size);
}

.projects__button:hover {
  color: var(--highlight-color);
  transition: ease-in-out 0.2s;
}

/*----------------------CONTACT/LOGIN----------------------*/

.contact__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.contact__others {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}

.margin {
  flex-direction: column;
}

.contact__form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: auto;
}

.contact__form-label,
.login__form-label {
  font-family: var(--highlight-font);
  color: var(--medium-color);
  letter-spacing: 0.2rem;
}

.contact__form-input,
.login__form-input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  padding: 1rem;
  border-radius: 2rem;
  border: solid 1px var(--dark-color);
  background: var(--light-color);
}

.contact__btn {
  border: none;
  font-family: var(--highlight-font);
  background: var(--highlight-color);
  color: var(--dark-color);
  padding: 1rem;
  border-radius: 2rem;
  width: 80%;
  margin: auto;
  font-size: var(--btn-font-size);
}

/*----------------------FOOTER----------------------*/

.footer {
  display: flex;
  flex-direction: column;
}

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 1rem;
  padding: 1rem;
  margin: 2rem;
}

.login__container {
  background: var(--dark-color);
  padding: 1rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15rem;
  margin: 3rem auto 3rem auto;
}

.login__heading {
  color: var(--highlight-color);
}

.login__form-label {
  font-family: var(--highlight-font);
  color: var(--highlight-color);
  letter-spacing: 0.2rem;
}

.login__form-input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  padding: 1rem;
  border-radius: 2rem;
  border: solid 1px var(--dark-color);
  background: var(--light-color);
}

.login__btn {
  border: none;
  font-family: var(--highlight-font);
  background: var(--highlight-color);
  color: var(--dark-color);
  padding: 1rem;
  border-radius: 2rem;
  width: 15rem;
  margin: auto;
  font-size: var(--btn-font-size);
}

/*----------------------ADMIN----------------------*/

.admin__nav-logo {
  font-family: var(--logo-font);
  text-transform: lowercase;
  font-size: 1.3rem;
  color: var(--complementary-color);
  margin-top: 5rem;
  position: relative;
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 4.5rem;
  background-color: var(--dark-color);
  padding: 1rem;
  transition: all 0.5s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
}

.sidebar.active {
  width: 90%;
}

#slide-btn {
  position: absolute;
  color: var(--complementary-color);
  top: 0.4rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  line-height: 50px;
}

.sidebar.active #slide-btn {
  left: 90%;
}

.sidebar ul li {
  position: relative;
  width: 90%;
  margin: 0.8rem auto;
}

#admin-page {
  position: relative;
  margin-left: 10%;
}

.sidebar ul li a {
  color: var(--complementary-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
  padding: 0.5rem;
  font-size: var(--normal-font-size);
}

.sidebar ul li a i {
  text-align: center;
  border-radius: 12px;
  padding-right: 0.5rem;
}

.sidebar ul li a:hover {
  background: var(--complementary-color);
  color: var(--dark-color);
  cursor: pointer;
}

.admin__nav-item {
  padding-left: 3rem;
}

.main__content {
  width: calc(100vw - 4.5rem);
  margin-left: 4.5rem;
}

.admin__main-heading {
  text-align: right;
  padding: 0.5rem;
  font-size: var(--h3-font-size);
  background: var(--dark-color);
  color: #e9e8e5;
  font-family: var(--highlight-font);
}

.admin__heading {
  text-align: right;
  font-family: var(--highlight-font);
  color: var(--dark-color);
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#personal,
#inbox,
#career {
  font-family: var(--body-font);
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: var(--admin-font-size);
}

#inbox__container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 90%;
  margin: auto;
  overflow-y: auto;
  gap: 1rem;
}

#inbox__container::-webkit-scrollbar {
  background-color: var(--complementary-color);
  width: 3px;
  height: 5rem;
}

#inbox__container li {
  border: var(--medium-color) solid 1px;
  width: 90%;
  margin: auto;
}

#inbox__container li button,
.button__div button,
.admin__button {
  border: none;
  font-family: var(--btn-font-size);
  background: var(--medium-color);
  color: var(--light-color);
  padding: 0.5rem;
  width: 40%;
  margin: 0.5rem auto 0 auto;
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 0.1rem;
}

.button__div {
  display: flex;
  padding: 0.5rem;
}

.button__div button:nth-child(2) {
  background: var(--complementary-color);
  color: var(--dark-color);
}

#career__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0.5rem;
  margin: auto;
  gap: 1rem;
}

#inbox__container li {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

#career__container li {
  padding: 0.5rem;
  border: var(--medium-color) 1px solid;
  width: 90%;
  margin: auto;
}

#inbox__container li span,
#career__container li span {
  display: flex;
}

#inbox__container a {
  color: #404243;
  text-transform: lowercase;
  text-decoration: underline;
  font-family: var(--body-font);
}

.inbox-heading,
.career-heading {
  font-weight: 800;
  background: #404243;
  color: #e9e8e5;
}

.inbox__content {
  color: var(--medium-color);
  padding: 0.5rem 0;
  font-size: var(--normal-font-size);
  line-height: 1.1rem;
}

.personal-img {
  width: 5rem;
  border-radius: 90%;
  border: var(--complementary-color) solid 3px;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.career-form {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.admin__main-heading {
  font-size: var(--h3-font-size);
}

.admin__heading {
  font-size: var(--h3-font-size);
}

.admin__subheading {
  font: var(--body-font);
  font-size: var(--normal-font-size);
  text-align: center;
}

#career-form {
  display: flex;
  width: 90%;
  margin: auto;
  gap: 0.5rem;
}

#career-form input {
  padding: 0.5rem;
  background: var(--light-color);
  border: var(--medium-color) 1px solid;
  font-family: var(--body-font);
}

/* Media queries start */

@media (max-width: 639px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav__list {
    position: fixed;
    left: -100%;
    top: 4rem;
    gap: 0;
    flex-direction: column;
    background: var(--highlight-color);
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: flex-start;
    transition: 0.3s;
  }

  .nav__item {
    margin: 1rem 0;
  }

  .nav__list.active {
    left: 0;
  }

  .nav__link {
    color: var(--dark-color);
    font-size: var(--nav-font-size);
  }
}

/*---------------TABLET VERSION---------------*/

@media (min-width: 640px) {
  .nav__link {
    font-size: var(--nav-font-size);
  }

  .home__data {
    padding-top: 2rem;
    flex-direction: row;
    gap: 1rem;
    width: 80%;
    margin: auto;
  }

  .home__social {
    flex-direction: column;
    gap: 1rem;
  }

  .home__title {
    width: 80%;
    padding: 0;
  }

  .home__img {
    padding: 1rem;
  }

  .home__info {
    margin: auto;
    width: 70%;
  }

  .home__info-title {
    text-align: center;
  }

  .home__info-item {
    padding: 1rem;
  }

  .home__info > *:nth-child(2) {
    text-align: center;
  }

  .about__container {
    gap: 2rem;
  }

  .about__info {
    width: 22rem;
  }

  .about__btn-cv,
  .about__btn-certificate {
    width: 22rem;
    font-size: var(--btn-font-size);
  }

  .skills__info {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }

  .projects__content {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    width: 100%;
    height: 100%;
  }

  .projects__button {
    font-size: var(--normal-font-size);
  }

  .contact__container {
    gap: 5rem;
  }

  .contact__others {
    width: 70%;
    margin-top: 2rem;
  }

  .contact__btn {
    font-size: var(--btn-font-size);
    width: 60%;
  }

  .login__form {
    width: 60%;
  }

  .inbox__content {
    line-height: 1.4rem;
  }

  #inbox__container li {
    width: 80%;
  }

  #inbox__container li button,
  .button__div button,
  .admin__button {
    width: 6rem;
  }

  #career__container {
    width: 50%;
  }

  #career__container li {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: auto;
  }

  .button__div {
    flex-direction: column;
  }

  #career-form {
    width: 50%;
  }

  .sidebar {
    width: 5rem;
  }

  .sidebar.active {
    width: 70%;
  }

  .admin__main-heading {
    font-size: var(--h1-font-size);
  }
}

/*---------------LAPTOP VERSION---------------*/
@media (min-width: 920px) {
  .nav__list {
    gap: 2rem;
  }

  .home__data {
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  .home__title {
    padding-top: 2rem;
    line-height: 3rem;
    width: 100%;
    margin: 0;
  }

  .home__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 90%;
    gap: 1rem;
  }

  .about__container {
    flex-direction: row;
    justify-content: center;
  }

  .skills__container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 5%;
    padding: 1rem 1rem 3rem 1rem;
  }

  .skills__title {
    height: 10rem;
    width: 100%;
    margin-bottom: 2rem;
  }

  .skills__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .skills__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 80%;
  }

  .skills__data {
    padding: 0.5rem;
    text-align: center;
  }

  .skills__devicon {
    font-size: 5rem;
  }

  .skills__icon {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }

  .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .projects__content {
    width: 100%;
    padding: 1rem;
  }

  .contact__container {
    flex-direction: row;
    gap: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 80%;
  }

  .contact__others .highlight {
    font-size: var(--h3-font-size);
  }

  .contact__form {
    width: 100%;
    padding: 4rem;
    gap: 0.7rem;
  }

  .login__form {
    width: 30%;
  }

  .login__heading {
    text-align: right;
  }

  .sidebar {
    width: 5rem;
  }

  .sidebar.active {
    width: 50%;
  }

  .sidebar ul li a {
    font-size: 1.6rem;
  }

  #inbox__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    grid-gap: 1rem;
  }

  #inbox__container li {
    width: 90%;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .inbox__content {
    font-size: 1.7rem;
  }

  #career__container {
    width: 90%;
    align-items: center;
  }

  #career__container li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .button__div {
    flex-direction: row;
    justify-items: flex-end;
    width: 20%;
  }

  .admin__subheading {
    font-family: var(--highlight-font);
    font-size: var(--normal-font-size);
  }

  .career-form {
    width: 7rem;
  }

  .personal-img {
    width: 10rem;
  }
}
 