@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'poppnis',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #F0F0F0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    text-decoration: none;
    color: #3A6CF4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 0.4em;
}
.logo-img {
    border: 1px ;
    min-height: 1em;
    width:5em;
    overflow: hidden;
    border-radius: 10px;
    margin: 0px;
    margin-left: 2%;
    
}


.navigation a {
    color: #3A6CF4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    
}

.navigation a:hover{
    color: #601CFC;
    background-color: #fff;
    
    
}


section{
    padding: 100px 200px;
}
 .main{
    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./imgs/Home.jpg) no-repeat ;
    background-size:cover;
    background-position:top;
    background-attachment: fixed;
    
    
}
.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span {
    display: inline-block;
    color: #4E9EFF;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.info p {
    text-align:justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li {
    list-style-type: none; 
    text-align: left;
 }
.main-btn{
    color: #fff;
    background-color: #3A6CF4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.937em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7sec;
}
.main-btn:hover{
    background-color: #0A49F6;
    transform: scale(1.1);
}
 .social {
    color: #fff;
    font-size: 1.7em;
    padding-right: 10px;
    margin-top: 3.5rem;
    transform: 0,4s;
}

 .social img {
    margin-right: 1.5rem;
    width: 2.5rem;
 }

 .social:hover{
    transform: scale(1.1);
}

.title{
    display: flex;
    justify-content: center;
    color: #3A6CF4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#intro{
    margin-top: 20%;
}
.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 25%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #3A6CF4;
    font-size: 6em;
    text-align: center;
}
.info{
    text-align: center;
}
.info p{
    text-align: center;
}
.info h3{
    color: #3A6CF4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
#works {
    background-color: #000016;
}
#works.content{
    margin-top: 30px;
}
.projects-card {
    background-color: #fff;
    border: 1px solid;
    min-height: 14em;
    width:15em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.projects-card:hover {
    transform: scale(1.1);
}
.projects-card:hover .projects-image{
    opacity: 0.9;
}
.projects-image img{
    width: 100%;
}
.project-info {
    padding: 1em;
}
.project-category {
    font-size: 0.8em;
    color: #000;
}
.project-title{
    display: flex;
    font-weight: 800;
    margin-top: 10px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.more-details {
        text-decoration: none;
        color: #3A6CF4;
        margin-top: 6%;
}
.more-details:hover{
    color: #601CFC;
}
.contact .icon {
    font-size: 4.5em;
}
.contact .info h3 {
    color: #000;
}
.contact .info p{
font-size: 1.5em;
font-family: Arial, Helvetica, sans-serif;}

* {box-sizing: border-box;}
input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 30%;
  resize: vertical;
  /* text-align: center; */
}
input[type=submit] {
  background-color: #3A6CF4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
width:6rem;
margin: auto;
margin-left: 50%;
}
input[type=submit]:hover {
  background-color: #3A6CF4;
}
label {
    display: inline-block;
    width: 55%;
    text-align: right;
    margin-right: 15px;
}
.container {
  border-radius: 5px;
  background-color: #F2F2F2;
  padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 90%;
}
h2 {
    vertical-align: center;
    text-align: center;
  }
  html, body {
    margin: 0;
    height: 100%;
  }

  
  * {
    font-family: "Raleway";
    box-sizing: border-box;
  }




/* Menu styles */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
ul.nav-links {
    display: flex;
    list-style-type: none;

}
.burger {
    display: none;
    cursor: pointer;
    z-index: 20; /* Ensure burger is clickable */
}


  /* Media Quaries*/
  
  @media (max-width:600px) {
    body{
        font-size: 12px;
    }
    .main-content h2 {
        font-size: 0.8em;
    }
    .main-content h3 {
        font-size: 1.4em;
    }
    section {
        padding: 60px 30px;
    }
    .main {
    padding: 70px;
}
}
@media (max-width :400px) {
        .section {
            flex-basis: 30%;
        }
        body{
            flex-basis: 30%;
        }
        .main {
            flex-basis: 30%;
        }
        input[type=text], select, textarea 
        {
             width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            margin:5% 0;
            text-align: center;
        }
        form {

            width: 100%;
        }
    }
@media screen and (max-width: 700px) {

    .section {
        flex-basis: 50%;
    }

    body{
        flex-basis: 50%;
    }

    .main{
        flex-basis: 50%;
    }
    .burger div {
        width: 25px;
        height: 3px;
        background-color: #3A6CF4;
        margin: 5px;
        transition: all 0.3s ease;
    }
    
    .nav-links {
        list-style: none;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 200px;
        background-color: #333; /* Ensure visibility */
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 60px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10; /* Higher than page content, lower than burger */
    }
    
    .nav-links li {
        width: 100%; /* Ensure full width for easier click */
    }
    
    .nav-links li a {
        color: white; /* Ensure visibility */
        text-decoration: none;
        padding: 10px;
        display: block; /* Ensure visibility and full width */
    }
    .navigation a:hover{
        color: #f2f2f2;
    }
    .burger {
        display: block;
    }

    .nav-links.active {
        transform: translateX(0);
    }
}
.footer {
    background-color: #000016;
    color: #fff;
    padding: 0.5em;
    display: flex;
    justify-content: center;
}
.footer title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer span{
    color: #3a6cf4; 
} 
/* 
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle {
    display: none;
  }
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu li a {
        text-decoration: none;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  } */

/* @media (max-width:1023px){
    header {
        padding: 12px 20px;
    }
}
.title {
    font-size: 1.8em;
}
section {
    padding: 80px 20px;
}
main.content h2{
   font-size: 1em;
}
main.content h3{
    font-size: 1.6em;
}
.content {
    flex-direction: column;
    align-items: center;
}   */