:root {
    /* --background-color: #2b2b2b; Dark grey for background */
    /* --text-color: #dcdcdc; Light grey for text */
    --accent-color: #606060; /* Subtle grey for accents */
    --hover-color: #757575; /* Slightly lighter grey for hover effects */
    --logo-text-color: #a5a5a5; /* Soft grey for the logo */
    --font-family: 'Poppins', sans-serif;
    --border-radius: 8px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    line-height: 1.5;
}

/* Header with Logo and Navigation */
.header {
    width: 100%;
    padding: 1rem;
    background: var(--background-color);
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    color: var(--logo-text-color);
    font-weight: 700;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.tab {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.tab button {
    background-color: transparent;
    border: 2px solid var(--accent-color);
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    color: var(--text-color);
    border-radius: var(--border-radius);
    font-weight: 600;
}

.tab button:hover, .tab button.active {
    background-color: var(--hover-color);
    color: var(--background-color);
    -webkit-text-fill-color: #fff;
}

/* Tab Content Styling */
.tabcontent {
    display: none;
    padding: 2rem;
    margin: 1rem 0;
    width: 90%;
    max-width: 960px;
    background: rgba(44, 44, 44, 0.85); /* Even darker background for content, with slight opacity */
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    animation: fadeIn 0.5s ease-out;
}

/* Responsive Grid for Content */
.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: left;
}

/* Subtle Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
from { opacity: 0; transform: translateY(20px); }
to { opacity: 1; transform: translateY(0); }
}

/* Typography Enhancements */
h1, h2, h3 {
color: var(--text-color); /* Using text color for headings for subtlety */
margin: 0.5rem 0;
}

p, li {
font-size: 1rem;
color: var(--text-color);
}

/* Responsive Design */
@media screen and (min-width: 768px) (max-width: 599px)

{
.tab {
    gap: 2rem;
}

.tab button {
    padding: 0.75rem 1.5rem;
}

.tabcontent {
    padding: 3rem;
}




}