body, h1, h2, h3, p, ul, li {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

#grid-floats {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


#grid-floats li:first-child {
    grid-column: span 2;
}

.grid-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.grid-item h3 {
    color: #333;
}

.grid-item p {
    color: #666;
    line-height: 1.4;
}

#grid-flex {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.grid-item {
    flex: 1 0 calc(100% - 20px);
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.grid-item h3 {
    color: #333;
}

.grid-item p {
    color: #666;
    line-height: 1.4;
}

@media screen and (max-width: 768px) {
    .grid-item {
        flex: 1 0 calc(20% - 20px);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #grid-floats {
        grid-template-columns: repeat(2, 1fr);
    }

    #grid-floats li:first-child {
        grid-column: auto;
    }

    .grid-item {
        flex: 1 0 calc(50% - 20px);
    }
}

@media screen and (min-width: 1025px) {
    .grid-item {
        flex: 1 0 calc(20% - 20px);
    }

    /* Ensure five items in each row */
    #grid-flex {
        justify-content: space-between;
    }

    .grid-item:nth-last-child(-n+5) {
        flex: 1 0 calc(19.2% - 20px);
    }
}